# Dependency directories
node_modules/

# Compiled files
dist/
build/

# Environment files
.env

# Local database files
data/db.json
data/db.sqlite

# IDE config files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
